<div class="container mt-4">
  <div *ngIf="isLoading">
    <app-loading-spinner class="mt-3" />
  </div>
  <div class="alert alert-danger" *ngIf="errorMessage">
    <p>{{ errorMessage }}</p>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input
        type="email"
        id="email"
        class="form-control"
        formControlName="email"
      />
      <div
        class="invalid-feedback"
        *ngIf="loginForm.get('email')?.errors?.['required'] && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)"
      >
        Email is required.
      </div>
      <div
        class="invalid-feedback"
        *ngIf="loginForm.get('email')?.errors?.['email'] && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)"
      >
        Please enter a valid email address.
      </div>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input
        type="password"
        id="password"
        class="form-control"
        formControlName="password"
      />
      <div
        class="invalid-feedback"
        *ngIf="loginForm.get('password')?.errors?.['required'] && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)"
      >
        Password is required.
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="loginForm.invalid"
    >
      Login
    </button>
  </form>

  <div class="mt-3">
    <button class="btn btn-link" (click)="forgotPassword()">
      Forgot Password?
    </button>
    <button class="btn btn-link" (click)="register()">Register</button>
  </div>
</div>
