<div class="container">
  <h2 class="mb-4">Car List</h2>

  <div class="row">
    <div *ngFor="let product of products" class="col-md-4 mb-4">
      <div class="card h-100">
        <img
          [src]="product.imagePath"
          alt="{{ product.name }}"
          class="card-img-top"
          style="height: 200px; object-fit: cover"
        />
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text line-clamp-3">{{ product.description }}</p>
          <p class="card-text">ID: {{ product.id }}</p>
          <p class="card-text">
            Price: RM {{ product.variances.v1.price | number }}
          </p>
          <button class="btn btn-primary" (click)="goToProductDetail(product)">
            View Details
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
