<h2 class="mb-4">Car List</h2>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let product of products"
      (click)="goToProductDetail(product)"
      style="cursor: pointer"
      class="table-row-highlight"
    >
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td class="line-clamp-3">{{ product.description }}</td>
      <td>
        <img
          [src]="product.imagePath"
          alt="{{ product.name }}"
          class="img-fluid"
          width="50"
          height="50"
        />
      </td>
      <td>{{ product.price | number }}</td>
    </tr>
  </tbody>
</table>
