<form [formGroup]="changePassForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="currentPass">Current Password</label>
    <input
      type="password"
      class="form-control"
      id="currentPass"
      formControlName="currentPass"
    />
    <div
      *ngIf="changePassForm.get('currentPass')?.errors?.['required'] && (changePassForm.get('currentPass')?.dirty || changePassForm.get('currentPass')?.touched)"
    >
      Current Password is required.
    </div>
  </div>

  <div class="form-group">
    <label for="newPass">New Password</label>
    <input
      type="password"
      class="form-control"
      id="newPass"
      formControlName="newPass"
    />
    <div
      *ngIf="changePassForm.get('newPass')?.errors?.['required'] && (changePassForm.get('newPass')?.dirty || changePassForm.get('newPass')?.touched)"
    >
      New Password is required.
    </div>
  </div>

  <div class="form-group">
    <label for="confirmNewPass">Confirm New Password</label>
    <input
      type="password"
      class="form-control"
      id="confirmNewPass"
      formControlName="confirmNewPass"
    />
    <div
      *ngIf="changePassForm.get('confirmNewPass')?.errors?.['required'] && (changePassForm.get('confirmNewPass')?.dirty || changePassForm.get('confirmNewPass')?.touched)"
    >
      Confirm New Password is required.
    </div>
  </div>
  <div
    *ngIf="
      changePassForm.hasError('passwordMismatch') && changePassForm.touched
    "
    class="error-message"
  >
    Passwords do not match.
  </div>
  <div
    *ngIf="
      changePassForm.get('newPass')?.hasError('minlength') &&
      changePassForm.get('newPass')?.touched
    "
    class="error-message"
  >
    Password must be at least 6 characters long.
  </div>

  <button type="submit" [disabled]="changePassForm.invalid">Submit</button>
</form>
