<div class="container mt-4">
  <form [formGroup]="resetPassForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="newPass">New Password</label>
      <input
        type="password"
        class="form-control"
        id="newPass"
        formControlName="newPass"
      />
      <div
        class="invalid-feedback"
        *ngIf="resetPassForm.get('newPass')?.errors?.['required'] && (resetPassForm.get('newPass')?.dirty || resetPassForm.get('newPass')?.touched)"
      >
        New Password is required.
      </div>
    </div>

    <div class="form-group">
      <label for="confirmNewPass">Confirm New Password</label>
      <input
        type="password"
        class="form-control"
        id="confirmNewPass"
        formControlName="confirmNewPass"
      />
      <div
        class="invalid-feedback"
        *ngIf="resetPassForm.get('confirmNewPass')?.errors?.['required'] && (resetPassForm.get('confirmNewPass')?.dirty || resetPassForm.get('confirmNewPass')?.touched)"
      >
        Confirm New Password is required.
      </div>
    </div>
    <div
      class="error-message"
      *ngIf="
        resetPassForm.hasError('passwordMismatch') && resetPassForm.touched
      "
    >
      Passwords do not match.
    </div>
    <div
      class="error-message"
      *ngIf="
        resetPassForm.get('newPass')?.hasError('minlength') &&
        resetPassForm.get('newPass')?.touched
      "
    >
      Password must be at least 6 characters long.
    </div>
    <br />
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="resetPassForm.invalid"
    >
      Submit
    </button>

    <div *ngIf="isError" class="alert alert-danger mt-3">
      {{ errorMessage }}
    </div>
    <div *ngIf="isSuccess" class="alert alert-success mt-3">
      {{ successMessage }}
    </div>
    <div *ngIf="isLoading" class="mt-3">
      <app-loading-spinner class="mt-3" />
    </div>
  </form>
</div>
